.jumbotron-fluid {
  text-shadow: #444 0 1px 1px;
  color: #000;
  position: relative;
  height: 350px;
  text-align: center;
  display: flex;
  align-items: center;
}

.border-foto {
  border-radius: 50%;
  border: 5px solid #343A3F;
}