.border-foto {
  border-radius: 50%;
  border: 5px solid #343A3F;
}


section {
  text-align: center;
  min-height: 500px;
  padding-top: 50px;
}

#page-atas {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}



hr {
  width: 200px;
  border-top: 4px solid
}